<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>

      <li><a href="https://chuhanan.github.io/ " target="_blank" title="Hexo">夏木南生</a></li>
      <li><a href="https://ltaoo.github.io/" target="_blank" title="coney">ltaoo's web</a></li>
    </ul>
</div>
